<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="/products.css">
    <link rel="stylesheet" href="/form.css">
    <title>Productos</title>
</head>
<body>
    <h1>Productos</h1>
    <ul id="product-list">
        {{#each products}}
        <li>
            <div>{{this.title}}</div>
            <div>{{this.price}}</div>
            <img class="product-img" src={{this.thumbnail}} alt={{this.title}}>
        </li>
        {{/each}}
    </ul>

    <section id="chat-user">
        {{#if username}}
            <div id="chat-welcome">
                <h4 id="chat-welcome-title" data-username={{username}}>Bienvenido {{username}}</h4>
                <button><a href="/api/logout">Logout</a></button>
            </div>
        {{else}}
            <form action="/api/login" method="post" id="chat-login">
                <label for="username">Nombre de usuario</label>
                <input id="chat-form-username" type="text" name="username">
                <input type="submit" id="login-button" value="Login"></input>
            </form>
        {{/if}}
    </section>
    <section id="message-container">
        <div id="compression">Compresion: </div>
    </section>
    <form id="message-form" action="">
        <label for="mail">Mail</label>
        <input id="message-mail" type="text" name="mail">
        <label for="message">Mensaje</label>
        <input id="message-msg" type="text" name="message">
        <input type="submit" id="message-button" value="Enviar mensaje"></input>
    </form>

    <script async=false defer=false src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/socket.js"></script>
    <script src="/form.js"></script>
    <script src="/products.js"></script>
</body>
</html>